*{
	margin: 5; 
	padding: 5;
	box-sizing: border-box;
}

html{
	font-family: 'Poppins', sans-serif;
}

.navbar {
	display: flex;
    width: 200%;
    height: 55px;
	position: fixed;
    bottom: 25cm;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(243, 186, 139);
	color: #8b5402;;
    z-index: 10;
}

.img{
    height: 50%;
    width: 30px;
    border-radius: 50%;
}
.brand-title {
	font-size: 1.5rem;
	margin: .5rem;
}

.navbar-links {
	height: 100%;
}

.navbar-links ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar-links li {
    height: max-content;
    text-align: center;

	list-style: none;
}

.navbar-links li a {
	display: block;
	text-decoration: none;
	color: rgb(170, 88, 11);
	padding: 1rem;
}

.navbar-links li:hover {/*cuando pasamos el mouse sobre el elemento*/
	background-color: #555;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

@media (max-width: 800px) {/*el punto de quiebre*/
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links ul li {
		text-align: center;
	}

	.navbar-links ul li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}