
  {% extends 'djapplibreriaEABO/base.html' %}
  {% block titulo  %}Formulario{% endblock titulo  %}
  {% block cuerpo  %}
  {% load static %}
  
  <br><br><br><br>
    <h2>Formulario Pedido Cliente</h2>
  
    
  <form action="{% url 'procesar_pedido_cliente' %}" method="POST" enctype="multipart/form-data">
    
      {% csrf_token%}
       
      
      <br><input type="number" name="numero_pedido" id="" Required placeholder="ingrese numero de  pedido"><br>
    
      
      <select name="id_cliente">
        <option value="0">Seleccione un cliente</option>
        {% for cliente in clientes %}
        <option value="{{ cliente.id_cliente }}">{{ cliente.nombres }} </option>
        {% endfor %}
       </select>
       <br>
      <select name="isbn">
        <option value="0">Seleccione libro</option>
        {% for libro in libros  %}
        <option value="{{ libro.isbn }}">{{ libro.titulo}} </option>
        {% endfor %}
       </select>

      <br><input type="date" name="fecha_pedido" id="" Required placeholder="fecha_pedido"><br>
      <br><input type="number" name="cantidad" id="" Required placeholder="cantidad"><br>
      <br><input type="number" name="subtotal" id="" Required placeholder="subtotal"><br>

      <br><input type="text" name="estado" id="" Required placeholder="Estado"><br>

       
      <div class="wrap">
        <button class="button">ENVIAR</button>
      </div>


  </form>
  

  <link rel="stylesheet" href="{% static 'djapplibreriaEABO/css/formul.css'%}">
  {% endblock cuerpo  %}
